<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Booking History</title>
    <link rel="stylesheet" href="/static/css/order_history.css">
    <link rel="stylesheet" href="/static/css/edit_profile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <div class="sidebar">

        <ul class="nav_list" list-style="none">
            <ol list-style="none">
                <a href="{{url_for('user.edit_profile')}}">
                    <span class="links_name">Edit Profile</span>
                </a>

            </ol>
            <ol>
                <a href="{{url_for('user.change_password')}}">
                    <span class="links_name">Change Password</span>
                </a>
            </ol>
            <ol>
                <a href="{{url_for('user.manage_payment')}}">
                    <span class="links_name">Manage Payment</span>
                </a>
            </ol>
            <ol>
                <a href="{{url_for('user.order_history')}}">
                    <span class="links_name">Booking History</span>
                </a>
            </ol>
            <ol style="margin-top: 400px;">
                <a href="{{url_for('user.view')}}">
                    <span class="links_name">Return Home</span>
                </a>
            </ol>
        </ul>

    </div>
    <table>
        <tr>
            <td class="font-weight-bold py-2 border-0">Movie</td>
            <td class="font-weight-bold py-2 border-0 quantity">Invoice No.</td>
            <td class="font-weight-bold py-2 border-0 ">Order Time</td>
            <td class="font-weight-bold py-2 border-0 "># Tickets</td>
            <td class="font-weight-bold py-2 border-0 ">Showroom</td>
            <td class="font-weight-bold py-2 border-0 ">Show Time</td>
            <td class="font-weight-bold py-2 border-0 ">Seats</td>
            <td class="font-weight-bold py-2 border-0 ">Total</td>
            <td class="font-weight-bold py-2 border-0 ">Payment Method</td>


        </tr>
        {% for order in order_history %}
        <tr>
            <th class="font-weight-bold py-2 border-0">{{order['title']}}</th>
            <th class="font-weight-bold py-2 border-0 quantity">{{order['booking_id']}}</th>
            <th class="font-weight-bold py-2 border-0 ">{{order['order_time']}}</th>
            <th class="font-weight-bold py-2 border-0 ">{{order['num_tickets']}}</th>
            <th class="font-weight-bold py-2 border-0 ">{{order['showroom']}}</th>
            <th class="font-weight-bold py-2 border-0 ">{{order['showtime']}}</th>
            <th class="font-weight-bold py-2 border-0 ">{{order['seats']}}</th>
            <th class="font-weight-bold py-2 border-0 ">$ {{order['total']}}</th>
            <th class="font-weight-bold py-2 border-0 ">{{order['payment']}}</th>
        </tr>
        {% endfor %}
    </table>
</div>

<script src="/static/js/order-history.js"></script>
<script src="signup.js"></script>
</body>
</html>