<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="/static/css/Roboto.css">
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/static/css/CheckOutPage-V10.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/static/css/shopping-ecommerce-products.css">
    <link rel="stylesheet" href="/static/css/signup.css">
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <title>Confirm Email</title>
</head>

<body>
    <section class="text-center bg-light features-icons" style="height: 100%;">
        <div class="row">
            <div class="col" style="max-width: 96%;border-radius: 10px;border-width: 2px;border-style: solid;margin-left: 25px;">
                <form>
                    <p style="font-size: 19px;font-weight: bold;">Welcome! Thanks for signing up. Please follow this link to activate your account:</p>
                    <p style="font-size: 19px;font-weight: bold;">
                        <a href="{{ confirm_url }}">{{ confirm_url }}</a></p>
                    <br>
                    <h1>Cheers!</h1>
                    <a class="btn btn-primary" role="button" style="margin-bottom: 10px;background: #950740;margin-top: 10px;border-style: none;" href="{{url_for('user.login')}}">Return Home</a>
                </form>
            </div>
        </div>
    </section>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="/static/js/signup.js"></script>
</body>

</html>